<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true">
	<appender name="MVN_STYLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>[%-5level] %-4relative [%thread] %logger{15} - %msg %n</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>

	<appender name="FILE_DAILY"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${java.io.tmpdir}/${project.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %-4relative [%thread] %logger{15} - %msg %n</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>

	<appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender-ref ref="MVN_STYLE" />
    </appender>

    <root level="ERROR">
        <appender-ref ref="ASYNC" />
    </root>

    <logger name="com.jme3.app.state" level="FINEST" />
	<logger name="com.anrisoftware" level="ALL" />
	<logger name="com.anrisoftware.dwarfhustle.model" level="OFF" />

</configuration>
